* {
    box-sizing: border-box;
  }
  .header {
    background-color: #f78501;
    padding: 30px 40px;
    color: white;
    text-align: center;
    height: 250px;
  }
  .header input,span{
      margin-top:20px ;
  }
  img {
    background-color: white;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  ul li:hover {
    background: #ddd;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  .button:hover {
    background-color:#f78501;
  }
  .fa-thin,
  .fa-plus,
  .fa-solid,
  .fa-circle-check{
    pointer-events: none;
  }
  .completed {
    text-decoration: line-through;
    background-color: ghostwhite;
  }